html {
  background-color: var(--background-tabA-color);
}
body {
  margin: 2vh;
  font-size: 22px;
  font-family: "Lexend Deca", sans-serif;
  border-radius: 10px;
  outline-color: transparent;
  outline-width: 0;
}
#root {
  margin: 0px;
  border: 0px;
  height: 96vh;
}
.root {
  height: 100%;
  min-height: 96vh;
  display: flex;
  flex-direction: row;
}
.container {
  width: 100%;
  height: 96%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* fraction*/
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-gap: 10px;
}
.containerColumn {
  width: 100%;
  height: 96%;
  display: flex;
  flex-direction: column;
}
.containerColumnDashed {
  width: 100%;
  height: 94%;
  display: flex;
  flex-direction: column;
  border: 2px var(--font-2light-color) dashed;
}
.icons {
  padding: 5px 10px 5px 10px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.iconscontainer {
  width: 96%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.containercat {
  display: inline-flex;
  align-items: center;
  overflow: auto;
  padding: 10px 10px 0 10px;
  margin: 3px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2);
}
.containerstars {
  margin-top: 2px;
  display: inline-flex;
  align-items: center;
  overflow: auto;
  padding: 0 5px 0 5px;
  border-radius: 6px;
  background-color: indianred;
  opacity: 0.7;
}

.title {
  width: 96%;
  min-height: 6%;
  text-align: center;
  justify-self: flex-end;
  align-self: center;
  outline-color: transparent;
  outline-width: 0;
  border: none;
  font-size: 22px;
  vertical-align: middle;
  border-bottom: 1px solid var(--background-tabA-color);
  background: transparent;
  resize: none;
}
.notes {
  min-height: 66%;
  font-size: 18px;
  padding: 4px;
  width: 96%;
  border-bottom: 2px solid var(--background-tabA-color);
  outline-color: transparent;
  outline-width: 0;
  border: none;
  background: transparent;
  resize: none;
}
.containernotes {
  height: 76%;
  background: transparent;
  overflow: scroll;
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
  float: left;
  width: 90vw;
}
.containergrates {
  height: 90%;
  background: transparent;
  overflow: scroll;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 20px;
}
.containergrates .papernotesreihen:nth-child(odd) {
  padding: 10px 0px 10px 5px;
  margin-left: 30px;
  text-align: center;
  color: dimgray;
  background-image: linear-gradient(
    to right,
    var(--background-tabA-color),
    var(--font-2light-color)
  );
  cursor: pointer;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.containergrates .papernotesreihen:nth-child(even) {
  padding: 10px 5px 10px 0px;
  margin-right: 30px;
  text-align: center;
  color: slategray;
  background-image: linear-gradient(
    to right,
    var(--font-2light-color),
    var(--background-tabA-color)
  );
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.starSymbols {
  padding: 0px 2px 0px 0px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.starSymbolsSmall {
  padding: 0px 2px 0px 0px;
  width: 10px;
  height: 10px;
}
.titelzeile {
  padding-left: 10px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}
.bemerkung {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  color: var(--font-dark-color);
}
.papernotesreihen {
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  justify-self: center;
  min-width: 84vw;
  flex: 1;

  background-color: var(--background-tabN-color);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
}
.papernotesboxes {
  padding: 10px 10px 10px 10px;
  margin: 10px;
  flex-direction: column;
  justify-content: left;
  justify-self: center;
  width: 40vw;
  border-radius: 4px;
  background-color: var(--background-tabN-color);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
}
.papernotes:hover {
  cursor: pointer;
}
.swal2-popup {
  opacity: 0.85 !important;
}
.bigTextcolumnNotes {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
}
.timer {
  position: absolute;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: red;
  border: 1px solid var(--background-tabN-color);
  border-bottom-right-radius: 20px;
  font-size: 25px;
}
.paper {
  display: flex;
  justify-content: center;
  justify-self: center;
  width: 10vw;
  height: 10vw;
  flex: 1;
  border-radius: 4px;
  background-color: var(--background-tabN-color);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
}
.paper:hover {
  cursor: pointer;
}
.typo {
  text-align: center;
  padding: 20px;
  font-size: 16px;
}
.typobold {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 16px;
  font-weight: bold;
}

.buttonHW {
  font-size: 12px;
  color: grey;
  border: 0px;
  border-radius: 4px;
  background-color: var(--background-tabN-color);
  cursor: pointer;
  margin-left: 3px;
}
.buttonHW:hover {
  background-color: var(--background-page-color);
  color: var(--background-tabN-color);
}
.logoItems {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  width: 10vw;
  height: 10vw;
  cursor: pointer;
}
.logoItems:hover {
  box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.4),
    0px 1px 1px 0px rgba(0, 0, 0, 0.44), 0px 1px 3px 0px rgba(0, 0, 0, 0.42);
  border-radius: 8px;
  object-fit: cover;
}
.logoPlay {
  width: 85px;
  height: 85px;
  cursor: pointer;
}
.form {
  display: flex;
  flex-direction: column;
}
.bigWindowForText {
  height: 78vh;
  font-size: 24px;
  border-radius: 5px;
  margin-top: 22px;

  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
  outline-color: transparent;
  outline-width: 0;
  border: none;
}
.button {
  height: 10vh;
  margin: 10px 175px 0px 175px;
  background-color: var(--background-tabN-color);
  color: grey;
  font-size: 18px;
  border-radius: 15px;
}
.bigPicture {
  max-width: 100%;
  height: 100%;
  align-self: center;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  background-color: var(--background-tabN-color);
}
.bigPictureBreath {
  max-width: 70%;
  max-height: 70%;
  align-self: center;
  justify-self: start;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  background-color: var(--background-tabN-color);
}
.bigText {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  background-color: var(--background-tabN-color);
}
.bigTextcolumn {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  background-color: var(--background-tabN-color);
}
.haiku {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 26px;
  margin: auto;
  text-align: center;
  max-width: 60vw;
  padding: 40% 0;
  line-height: 30px;
  display: table-cell;
  vertical-align: middle;
  overflow-wrap: break-word;
  flex: 1;
  color: var(--font-dark-color);
}
.quoteitalic {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 26px;
  font-style: italic;
  margin: auto;
  text-align: center;
  max-width: 60vw;
  padding-top: 25%;
  line-height: 30px;
  display: table-cell;
  vertical-align: middle;
  overflow-wrap: break-word;
  flex: 1;
  color: var(--font-dark-color);
}
.quoteauthor {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 26px;
  margin: auto;
  text-align: center;
  max-width: 60vw;
  padding: 5% 0;
  line-height: 30px;
  display: table-cell;
  vertical-align: middle;
  overflow-wrap: break-word;
  flex: 1;
  color: var(--font-dark-color);
}
.haiku2x {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 52px;
  margin: auto;
  text-align: center;
  max-width: 80vw;
  padding: 30% 0;
  line-height: 30px;
  display: flex;
  justify-content: center;
  color: var(--font-dark-color);
}
.haikusmall {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin: auto;
  max-width: 80vw;
  padding: 30px 0;
  cursor: pointer;
  color: var(--font-dark-color);
}
.percent {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.variable {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 14px;
  margin: auto;
  text-align: left;
  max-width: 80vw;
  padding: 8px 0;
  line-height: 15px;
  display: table-cell;
  vertical-align: text-top;
  overflow-wrap: break-word;
  flex: 1;
  color: var(--font-dark-color);
}
.variablen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.iconsRefferer {
  margin: 1px 10px 1px 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.minitext {
  text-align: center;
  font-size: 7px;
}
.footer {
  display: flex;
  align-items: flex-end;
  width: 100%;
  margin-top: 1vh;
}
.mirror {
  display: flex;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
::placeholder {
  color: lightgrey;
  font-size: 15px;
  text-align: center;
  padding-top: 10px;
}
a {
  color: var(--font-dark-color);
}
@media only screen and (max-width: 1025px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr; /* fraction*/
  }
  .paper {
    width: 17vw;
    height: 17vw;
    margin-left: 10px;
  }
  .logoItems {
    width: 17vw;
    height: 17vw;
  }
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
  .container {
    grid-template-columns: 1fr 1fr 1fr; /* fraction*/
  }
  .paper {
    width: 25vw;
    height: 25vw;
    margin-left: 10px;
  }
  .logoItems {
    width: 25vw;
    height: 25vw;
  }
  .button {
    height: 10vh;
    margin: 4px 25px 0px 25px;
    background-color: var(--background-tabA-color);
    color: grey;
    font-size: 18px;
    border-radius: 15px;
  }
  .minitext {
    font-size: 5px;
    align-self: center;
  }
  .bemerkung {
    margin-top: 50px;
  }
}
