html {
  background-color: var(--background-tabA-color);
}
body {
  margin: 2vh;
  font-size: 22px;
  font-family: "Lexend Deca", sans-serif;
  border-radius: 10px;
  outline-color: transparent;
  outline-width: 0;
}
#root {
  margin: 0px;
  border: 0px;
  height: 96vh;
}
.root {
  height: 100%;
  min-height: 96vh;
  display: flex;
  flex-direction: row;
}
.container {
  width: 100%;
  height: 96%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* fraction*/
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-gap: 10px;
}
.containerColumn {
  width: 100%;
  height: 96%;
  display: flex;
  flex-direction: column;
}
.timer {
  position: absolute;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-tabA-color);
  color: var(--font-dark-color);
  border: 1px solid var(--background-tabN-color);
  border-radius: 3px;
}
.paper {
  display: flex;
  justify-content: center;
  justify-self: center;
  width: 10vw;
  height: 10vw;
  flex: 1;
  border-radius: 4px;
  background-color: var(--background-tabN-color);
}
.typo {
  text-align: center;
  padding: 20px;
  font-size: 16px;
}
.typobold {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 16px;
  font-weight: bold;
}

.buttonHW {
  font-size: 12px;
  color: grey;
  border: 0px;
  border-radius: 4px;
  background-color: var(--background-tabN-color);
  cursor: pointer;
  margin-left: 3px;
}
.buttonHW:hover {
  background-color: var(--background-page-color);
  color: var(--background-tabN-color);
}
.logoItems {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  width: 10vw;
  height: 10vw;
  cursor: pointer;
}
.logoItems:hover {
  box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.4),
    0px 1px 1px 0px rgba(0, 0, 0, 0.44), 0px 1px 3px 0px rgba(0, 0, 0, 0.42);
  border-radius: 8px;
  object-fit: cover;
}
.logoPlay {
  width: 85px;
  height: 85px;
  cursor: pointer;
}
.form {
  display: flex;
  flex-direction: column;
}
.bigWindowForText {
  height: 78vh;
  font-size: 24px;
  border-radius: 5px;
  margin-top: 22px;
  border: none;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
  outline-color: transparent;
  outline-width: 0;
}
.button {
  height: 10vh;
  margin: 10px 175px 0px 175px;
  background-color: var(--background-tabN-color);
  color: grey;
  font-size: 18px;
  border-radius: 15px;
}
.bigPicture {
  max-width: 100%;
  max-height: 100%;
  align-self: center;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  background-color: var(--background-tabN-color);
}
.bigText {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  background-color: var(--background-tabN-color);
}
.haiku {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 26px;
  margin: auto;
  text-align: center;
  max-width: 60vw;
  padding: 30% 0;
  line-height: 30px;
  display: table-cell;
  vertical-align: middle;
  overflow-wrap: break-word;
  flex: 1;
  color: var(--font-dark-color);
}
.haiku2x {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 52px;
  margin: auto;
  text-align: center;
  max-width: 80vw;
  padding: 30% 0;
  line-height: 30px;
  display: flex;
  justify-content: center;
  color: var(--font-dark-color);
  justify-content: center;
}
.variable {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 14px;
  margin: auto;
  text-align: left;
  max-width: 80vw;
  padding: 8px 0;
  line-height: 15px;
  display: table-cell;
  vertical-align: text-top;
  overflow-wrap: break-word;
  flex: 1;
  color: var(--font-dark-color);
}
.variablen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.iconsRefferer {
  margin: 1px 10px 1px 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.minitext {
  font-size: 7px;
}
.footer {
  display: flex;
  align-items: flex-end;
  width: 100%;
  margin-top: 1vh;
}
.mirror {
  background-color: black;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
::placeholder {
  color: lightgrey;
  font-size: 18px;
  text-align: center;
  padding-top: 10px;
}
a {
  color: var(--font-dark-color);
}
@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
  .container {
    grid-template-columns: 1fr 1fr 1fr; /* fraction*/
  }
  .paper {
    width: 25vw;
    height: 25vw;
    margin-left: 10px;
  }
  .logoItems {
    width: 25vw;
    height: 25vw;
  }
  .button {
    height: 10vh;
    margin: 4px 25px 0px 25px;
    background-color: var(--background-tabA-color);
    color: grey;
    font-size: 18px;
    border-radius: 15px;
  }
}
